*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1c1e26;
    font-family: sans-serif;
    margin: 10 auto;
    display: flex;
    justify-content: center;
    color: #fff;
}

.container{
    margin-top: 20px auto;
}

input[type="color"]{
    border: none;
    width: 32.5%;
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

input[type="color"]::-webkit-color-swatch{
    border: none;
}

a{
    text-decoration: none;
}

.qr-text{
    padding: 1rem;
    display: block;
    background: #181b29;
    border: 1px solid #414866;
    border-radius: 4px;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    color: #fff;
    outline: none;
}

.qr-text::placeholder{
    color: #8b92b7;
    font-weight: 500;
}

#qr-code{
    height: 330px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #414866;
    border-radius: 4px;
}

#qr-code img, #qr-code canvas{
    max-width: 100% !important;
    max-height: 100% !important;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sizes{
    width: 32.5%;
    height: 40px;
    color: #fff;
    background: #181b29;
    border: 1px solid #414866;
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
}

.btn{
    color: #fff;
    max-width: 250px;
    padding: 14px;
    background: rgb(25, 3, 228);
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    flex: 1;
}

.btn img{
    width: 20px;
    margin-left: 10px;
}

.share-btn{
    margin-left: 0.7rem;
}

.action-container{
    display: flex;
    margin: 1rem 0;
}

.social {
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    padding: 10px; /* Espaçamento interno */
    border-radius: 4px;
    margin-top: 30px;
}

/* Estilos para os ícones sociais */
.social a {
    display: inline-block; /* Torna os elementos em linha */
    margin: 0 10px; /* Espaçamento entre os ícones */
}

/* Estilos para as imagens dos ícones sociais */
.social a img {
    width: 40px; /* Defina a largura desejada para os ícones */
    height: 40px; /* Defina a altura desejada para os ícones */
}

footer.copyright {
    display: flex; /* Torna o conteúdo do footer flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    color: #fff; /* Cor do texto */
}

@media (max-width: 512px){
    body{
        max-width: 100%;
        padding: 10px;
    }
    #qr-code{
        width: 95vw;
        height: 95vw;
    }
    #qr-code img, #qr-code canvas{
        max-width: 95vw !important;
        max-height: 95vw !important;
    }
    .btn{
        min-width: unset;
    }
}

@media (max-width: 350px){
    .action-container{
        flex-direction: column;
    }
    .share-btn{
        margin-left: 0;
        margin-top: 0.7rem;
    }
}